.login-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 80px;
}

@media screen and (min-width: 992px) {
  .login-container {
    flex-direction: row;
  }
}

.login-img {
  height: 200px;
}
@media screen and (min-width: 992px) {
  .login-img {
    height: 300px;
  }
}

.form-container {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 250px;
}

@media screen and (min-width: 992px) {
  .form-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
.form-inp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-img {
  height: 40px;
  margin-bottom: 10px;
}

.label {
  margin: 10px 0px;
  color: #475569;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
}

.inp {
  background-color: #e6f6ff;
  padding: 6px 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  outline: none;
}
.error {
  color: red;
  margin-top: 10px;
}

.button {
  background-color: #0b69ff;
  border: 0px;
  outline: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}
